button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  border: 1px solid $primary-font;
  border-radius: 3px;
  padding: 10px;
  margin: 0 10px 0 0;
  text-decoration: none;

  .no-touchevents &:hover {
    cursor: pointer;
    color: $primary-color;
    background-color: $primary-font;
  }

  &.button-dark {
    border: 1px solid $border-color;

    a {
      color: black;
    }

    .no-touchevents &:hover {
      color: $primary-color;
      background-color: $primary-font;
    }
  }

  &:disabled {
    color: $disabled-color;
    border-color: $disabled-color;
    cursor: initial;

    &:hover {
      color: $disabled-color;
      background-color: inherit;
    }
  }
}
