#contact {
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 0, 0, 0.9),
    rgba(0, 0, 255, 0.7) 60%,
    rgba(0, 255, 0, 0.7) 80%
  );

  .contact-header {
    padding: 0 0 5px 0;
  }

  #about-wrapper,
  #contact-wrapper {
    // flex: 1 0 50%;
    padding: 4vh 4vw;
  }

  #about-wrapper {
    flex: 1 0 60%;

    p {
      font-family: 'Crimson Text', serif;
      font-size: 1.2em;
      line-height: 1.7em;
      padding-bottom: 20px;
    }
  }

  #contact-wrapper {
    flex: 1 0 40%;
  }
}

@media only screen and (max-width: 860px) {
  #contact {
    #about-wrapper,
    #contact-wrapper {
      flex: 1 0 100%;
    }
  }
}
