* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: initial;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  padding: 0 0 .4rem 0;
}
