#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  background-color: white;
  color: white;

  .project {
    flex: 1 1 100%;
    min-height: 50vh;
    padding: 4vh 4vw;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .project-header,
    .project-body,
    .project-footer {
      display: flex;
      padding: 3vh 4vw;
    }

    .project-header {
      align-items: center;
      justify-content: center;
      min-height: 10vh;
    }

    .project-body {
      min-height: 25vh;

      .project-description,
      .project-tech {
        flex: 1 0 50%;
      }

      .project-description,
      .project-tech .tech {
        font-family: 'Crimson Text', serif;
        font-size: 1.2em;
      }

      .project-description {
        line-height: 1.6em;
        padding: 0 6vw 0 2vw;
      }

      .project-tech {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4vw;

        .tech {
          flex: 1 0 33%;
        }
      }
    }

    .project-footer {
      .project-link,
      .project-source-link {
        flex: 1 0 50%;
        text-align: center;
      }
    }
  }
}

#lucy-lane {
  display: none;
  background-color: #1a2254;
}

#back-to-top-button {
  opacity: 0;
  color: black;
  background-color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: opacity 0.3s ease-in;

  &.show {
    opacity: 1;
  }

  &:hover {
    color: white;
    background-color: initial;
  }
}

@media only screen and (max-width: 860px) {
  #projects {
    .project {
      flex: 1 1 auto;
      height: initial;
      background-attachment: scroll;

      .project-body {
        flex-wrap: wrap;

        .project-description,
        .project-tech {
          flex: 1 1 100%;

          .tech {
            flex: 1 0 50%;
          }
        }

        .project-tech {
          padding: 4vh 0 0 0;

          .tech {
            text-align: center;
          }
        }
      }
    }
  }
}
