* {
  font-size: 0.9rem;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

#resume-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(white, $primary-color);
  padding: 25px 0;
  min-height: 100vh;

  #back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 1.2rem;

    i {
      margin: 0 5px 0 0;
    }
  }

  #resume {
    width: 8.5in;
    height: 11in;
    max-width: 8.5in;
    max-height: 11in;
    background-color: white;
    -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);

    header {
      .section {
        flex: 0 0 auto;
        padding: 12px 20px;
        color: $primary-font;
      }

      #intro {
        display: flex;
        background-color: $primary-color;

        #personal-info {
          flex: 0 1 auto;
          align-self: center;
        }

        #contact-info {
          flex: 1 0 auto;

          .contact-line:not(:first-child) {
            padding: 10px 0 0 0;
          }

          .contact-line {
            display: flex;
            align-items: center;
            text-align: right;

            .icon {
              flex: 0 1 auto;
              padding: 0 0 0 8px;
            }

            a {
              flex: 1 0 auto;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    #body {
      .section {
        padding: 6px 15px;

        .sub-section {
          padding: 0 0 0 15px;
        }
      }

      .header {
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
        margin: 0 0 5px 0;
        padding: 0 0 2px 0;

        .icon {
          font-size: 1.2em;
          padding: 0 5px;
          min-width: 30px;
        }
      }

      .tools-wrapper {
        label {
          font-weight: 600;
        }

        .tools {
          padding: 0 0 0 3px;
        }
      }

      .employment {
        padding: 5px 0;

        &.bottom-border {
          border-bottom: 1px solid $border-color;
        }

        .position-wrapper {
          display: flex;
          font-weight: 600;

          .company,
          .dates {
            align-self: center;
          }

          .position,
          .company {
            flex: 0 1 auto;
          }

          .position {
            font-size: 1.2em;
            color: $primary-color;
            padding: 0 3px 0 0;
          }

          .dates {
            flex: 1 0 auto;
            text-align: right;
          }
        }

        .duties {
          padding: 0 0 0 15px;

          li {
            padding: 10px 0 0 0;
          }
        }
      }

      #education {
        .college {
          font-weight: 600;
        }

        .dates {
          padding: 0 0 0 3px;
        }
      }

      #projects {
        .project-wrapper {
          padding: 5px 0 0 0;

          &.bottom-border {
            border-bottom: 1px solid $border-color;
          }

          .project-line {
            padding: 0 0 5px 0;

            .project {
              font-weight: bold;
            }

            a {
              padding: 0 0 0 3px;
              color: $primary-color;
            }
          }

          .tools-wrapper {
            padding-bottom: 5px;
          }
        }
      }

      #skills {
        #skills-wrapper {
          display: flex;

          .skills-group {
            flex: 0 1 auto;
            text-align: center;

            &:not(:last-child) .skills-list {
              border-right: 1px solid $border-color;
            }

            .skills-header {
              flex: 1 0 100%;
              color: $primary-color;
            }

            .skills-list {
              display: flex;
              flex-wrap: wrap;

              .skill {
                flex: 1 0 50%;
                padding: 3px 0;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1016px) {
  #resume-wrapper {
    padding: 60px 0 0 0;

    #back-button {
      top: 10px;
      left: 10px;
    }

    #resume {
      width: 100%;
      flex-direction: column;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
  }
}

@media only screen and (max-width: 520px) {
  #resume-wrapper {
    #resume {
      header {
        #intro {
          flex-direction: column;

          #personal-info {
            align-self: initial;
          }

          #contact-info {
            .contact-line {
            }
          }
        }
      }
    }
  }
}

@media print {
  #resume-wrapper {
    background-image: none;
    padding: 0;

    #back-button {
      display: none;
    }

    #resume {
      box-shadow: none;
    }
  }
}
