.textfield {
  display: flex;
  margin: 0 0 7px;

  label,
  input {
    border: 1px solid white;
    color: white;
    padding: 10px;
  }

  label {
    flex: 0 0 auto;
    border-right: none;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    align-self: center;
  }

  input {
    flex: 1 0 auto;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
