$primary-color: #0960a5;
$primary-font: white;

$secondary-color: lighten(#0960a5, 55%);
$secondary-font: $primary-color;

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  word-wrap: initial;
  font-size: .9rem;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  padding: 0 0 .4rem 0;
}

#resume-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(white, $primary-color);
  padding: 3rem 0;
  min-height: 100vh;

  #back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;

    a {

      i,
      span {
        font-size: 1.2rem;
      }

      i {
        margin: 0 .5rem 0 0;
      }

      &:hover i {
        text-decoration: underline;
      }
    }
  }

  #resume {
    display: flex;
    width: 8.5in;
    height: 11in;
    background-color: white;
    -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);

    #column-left,
    #column-right {
      display: flex;
      flex-direction: column;
    }

    .header {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
      margin: 0 0 .5rem 0;
      padding: 0 0 .5rem 0;
    }

    #column-left {
      flex: 0 0 35%;

      .section {
        flex: 0 0 auto;
        padding: 1.4rem 2.2rem 0;
      }

      #intro {
        background-color: $primary-color;
        color: white;
        padding-bottom: 1.4rem;

        #personal-info {
          padding: 0 0 12px 0;
        }

        #contact-info {
          .contact-line {
            display: flex;
            padding: 6px 0;
            align-items: center;

            .icon {
              flex: 0 1 auto;
              padding: 0 8px 0 0;
            }

            .text {
              flex: 1 0 auto;
            }
          }
        }
      }

      #about,
      #projects,
      #personal-interests {
        background-color: $secondary-color;
      }

      #projects {
        .project-wrapper {
          padding: 0 0 .8rem 0;

          .project {
            font-weight: 600;
          }

          i,
          a {
            color: $primary-color;
          }

          a {
            padding: 0 0 0 .5rem;
          }
        }
      }

      #personal-interests {
        flex: 1 0 auto;
        padding-bottom: 1.2rem;

        .interest-wrapper {
          display: flex;
          flex-wrap: wrap;

          .interest-group {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            align-items: center;

            .circle {
              display: flex;
              justify-content: center;
              text-align: center;
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              align-items: center;
              background-color: $primary-color;
              margin: .5rem 0 .3rem 0;

              i {
                width: 100%;
                color: $primary-font;
              }
            }

            .interest {
              font-weight: 600;
            }
          }
        }
      }
    }

    #column-right {
      flex: 0 0 65%;

      .section {
        flex: 0 0 auto;
        padding: 1.4rem 1.5rem 0 1.5rem;
      }

      .employment {
        padding: .5rem 0 .5rem 1.2rem;

        &.bottom-border {
          border-bottom: 1px solid $secondary-color;
        }

        .position {
          font-size: 1.2em;
          font-weight: 600;
          color: $primary-color;
          padding: 0 0 .2rem 0;
        }

        .company-line {
          padding: 0 0 .2rem 0;

          .company {
            font-weight: 600;
          }

          .dates {
            padding: 0 0 0 .3rem;
          }
        }

        .tools-line {
          label {
            font-weight: 600;
          }

          .tools {
            padding: 0 0 0 .3rem;
          }
        }

        .duties {
          padding: 0 0 0 1.2rem;

          li {
            padding: .7rem 0 0 0;
          }
        }
      }

      #education {
        .college {
          font-weight: 600;
        }

        .dates {
          padding: 0 0 0 3px;
        }
      }

      #skills {
        .skills-wrapper {
          display: flex;
          padding: 1rem 0 0 0;

          .skills-group {
            display: flex;
            flex-direction: column;
            flex: 0 0 50%;

            &:first-child {
              padding: 0 1rem 0 0;
            }

            .skill-line {
              display: flex;
              width: 100%;
              margin: 0 0 .5rem 0;
              align-items: center;

              .skill {
                flex: 1 0 auto;
                font-weight: 600;
              }

              i {
                flex: 0 0 auto;
                padding: 0 .3rem 0 0;
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 8.5in) {
  #resume-wrapper {
    padding: 0;

    #back-button {
      left: 84vw;
    }

    #resume {
      width: 100%;
      flex-direction: column;

      #column-left,
      #column-right {
        flex: 1 0 auto;
      }

      #column-left {
        #personal-interests {
          flex: 0 0 auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #resume-wrapper {
    padding: 0;

    #back-button {
      left: 75vw;
    }

    #resume {
      width: 100%;
      flex-direction: column;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;

      #column-left,
      #column-right {
        flex: 1 0 auto;
      }

      #column-left {
        #personal-interests {
          flex: 0 0 auto;

          .interest-wrapper {
            .interest-group {
              flex: 1 0 33%;
            }
          }
        }
      }

      #column-right {
        #skills {
          .skills-wrapper {
            flex-direction: column;

            .skills-group {
              &:first-child {
                padding: 0;
              }

              .skill-line {
                .skill {
                  flex: 0 0 35%;
                }
              }
            }
          }
        }
      }
    }
  }
}

#resume-wrapper.print {
  display: flex;
  justify-content: initial;
  align-items: initial;
  background-image: none;
  padding: 0;

  #back-button {
    display: none;
  }

  #resume {
    box-shadow: none;
  }
}
