version: '3.3'

services:
  portfolio:
    image: "${CI_REGISTRY_IMAGE-local}:${CI_COMMIT_SHORT_SHA-local}"
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
  
networks:
  default:
    external:
      name: nginx-proxy
