#education.resume-section
  h2.header Education
  .sub-section
    .degree Associates of Science in Individual Studies with a focus on Computer Science
    span.college Jamestown Community College
    span.dates - 2012