extends ../layout.pug

block content
  #resume-wrapper
    #resume
      header
        include header.pug

      #body
        include work.pug
        include certificates.pug
        include projects.pug
        include education.pug
        include skills.pug

block scripts
