#introduction.container-fluid.section
  .row.justify-content-center.align-items-center
    #header.col
      h1 Hello, I'm #{dev_name}
      h3 #{tag_line}
  .row.justify-content-center.align-items-center
    .col.links.justify-content-center.align-items-center
      if resume_url
        a.btn.btn-outline-light(href=`/resume`, role="button") Resumé
      if twitter_url
        a.icon(href=`https://${twitter_url}`, target="_blank")
          i.fab.fa-twitter-square.fa-3x
      if github_url
        a.icon(href=`https://${github_url}`, target="_blank")
          i.fab.fa-github-square.fa-3x
  .row.justify-content-center.align-items-center
    .col
      .btn.btn-outline-light.scroll-btn(data-id="tech") Tech <i class="fas fa-angle-down"></i>
      .btn.btn-outline-light.scroll-btn(data-id="portfolio") Portfolio <i class="fas fa-angle-down"></i>
