doctype html
html(lang="en")
  head
    title #{page_title}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
    block styles
      link(rel='stylesheet', type="text/css", href='css/styles.min.css')

  body
    block content
    block foot
    block scripts
      script(src="http://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
      script(src="js/main.min.js")

    if node_env === 'development'
      script(src="//localhost:35729/livereload.js")
