nav#navigation(class=`${page === 'Projects' ? 'color-bg' : ''}`, data-page="navigation")
  a(href="/", class=`${page === 'Home' ? 'active' : ''}`) Home
  a(href="/projects", class=`${page === 'Projects' ? 'active' : ''}`) Projects
  a(href="/contact", class=`${page === 'Contact' ? 'active' : ''}`) Contact
