nav#navigation(class=`${page === 'projects' ? 'color-bg' : ''}`, data-page="navigation")
  a(href="/", class=`${page === 'home' ? 'active' : ''}`) Home
  a(href="/projects", class=`${page === 'projects' ? 'active' : ''}`) Projects
  a(href="/contact", class=`${page === 'contact' ? 'active' : ''}`) Contact
