extends layout.pug

block content
  #projects.section
    include navigation.pug

    each project in projects
      include project.pug

  #back-to-top-button.button.scroll-btn(data-id="projects")
    | Back to Top &nbsp;
    i.fas.fa-angle-up
