#tech.section
  #tech-gradient
  .section-header Technology
  .card-group
    for tech in technology
      .tech-card.card
        .card-header
          span= tech.data.title
        .card-body
          ul
            for item in tech.data.list
              li= item
