extends layout.pug

block append vars
  - var title = '59 Lucy Lane'
  - var projectId = '59lucylane'
  - var link = 'http://59lucylane.com'
  - var image = '59lucylane.png'
  - var backgroundClass = 'bg-lucylane'

block techUsed
  li HTML5
  li CSS
  li PHP
  li Joomla

block desc
  p
    | Although I can't take credit for the original development of this site, I did take over the web admin responsibilities.
    | I gave it a slight redesign back in 2013 and the client has been happy with it ever since.
