extends layout.pug

block append vars
  - var image = 'blackjack.png'
  - var backgroundClass = 'carousel-bg-blackjack'

block techUsed
  li Java
  li Eclipse
  li VS Code

block desc
  p
    | Built in college for my Java final back in 2012. The requirements were to draw the cards, allow hit/stay, and determine
    | the winner. I've since expanded the funtionality to allow a new game, added color, allow aces to be 11 or 1,
    | and completely refactored the code base.
