extends layout.pug

block append vars
  - var title = 'Jacob R Swanson'
  - var isActive = true
  - var image = 'jacobrswanson.png'

block techUsed
  li HTML5
  li CSS/SASS
  li Bootstrap
  li Node.js
  li NPM
  li pug
  li Grunt
  li Digital Ocean Droplet
  li VS Code

block desc
  p
    | This website was built to showcase my talents. Not only does it highlight my work over the years, it
    | also proves my ability to pick up and learn new technology.
