extends layout.pug

block append vars
  - var projectId = 'ufsports'
  - var image = 'ufsports.png'
  - var backgroundClass = 'bg-ufsports'
  - var link = 'https://ufsports.com'

block techUsed
  li HTML5
  li CSS/SASS
  li Custom built responsive CSS library
  li PHP
  li Linux
  li Apache
  li MySQL/PDO
  li Codekit
  li phpMyAdmin
  li Digital Ocean Droplet
  li VS Code

block desc
  p
    | This idea for this website started back in 2011. Line ups were being tracked through messages and
    | stats/standings were being calculated by hand. Quickly realizing there must be a better way, this website was born. Over
    | the past 8 years, it's gone through 6 different redesigns along with hundreds (maybe thousands) of improvements
    | and changes.
